RewriteEngine On
RewriteBase /gestion-stage/public/

# Autoriser les fichiers et dossiers existants
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger tout vers index.php
RewriteRule ^(.*)$ index.php [QSA,L]
